.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ant-modal-content {
  border-radius: 14px !important;
}

.ant-modal-confirm-btns {
  border-radius: 16px !important;
  color: #ea6060 !important;
}

.ant-message {
  font-weight: bold !important;
  line-height: 14px !important;
}

.ant-message-notice-content {
  border-radius: 14px !important;
}

.ant-message-loading .anticon {
  color: #ea6060 !important;
}

.ant-select-dropdown {
  border-radius: 16px !important;
}
.ant-select-selector {
  border-radius: 50px !important;
}

.ant-select-item-option:not(.ant-select-item-option-disabled) {
  border-radius: 50px !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  border-radius: 50px !important;
  background-color: #ff787526 !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  border-radius: 50px !important;
  background-color: #ff787526 !important;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #ea6060 !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background-color: #ea6060 !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  border-color: #ea6060 !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: #ea6060 !important;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #ea6060 !important;
}

.ant-input {
  border-radius: 50px;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #ea6060 !important;
}

::-webkit-scrollbar {
  width: 5px;

  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;

  background-color: rgba(50, 50, 50, 0.3);
}

::-webkit-scrollbar-track {
  border-radius: 1em;

  background-color: rgba(50, 50, 50, 0.1);
}

#WEB3_CONNECT_MODAL_ID {
  position: relative;
  z-index: 999;
}
